.rodape{
     padding: 20px;
}

html {
     scroll-behavior: smooth;
   }
   
   .imagens img {
     width: 100%;
     height: 300px;
     border-radius: 20%;
}

.conteudo {
     padding: 20px;
}

.conteudo img {
     width: 100%;
     height: 350px;
     clip-path: circle(50%);
}

.texto {
     padding: 20px;
}

.mapa iframe {
     width: auto;
     height: 200px;
}
.social img{
     width: 50px;
     height: 50px;
     border-radius: 2rem;
}
.social a {
     padding: 20px;
}

.suplementos {
     width: 100%;
     height: 210px;
}

.wrap {
     padding: 25px;
}

/* Tabela de preço */

.card1:hover {
     background:#00ffb6;
     border:1px solid #00ffb6;
   }

   .card1:hover .list-group-item{
     background:#00ffb6 !important;
   }


   


   .card2:hover {
     background:#00C9FF;
     border:1px solid #00C9FF;
   }

   .card2:hover .list-group-item{
     background:#00C9FF !important;
   }


   .card3:hover {
     background:#ff95e9;
     border:1px solid #ff95e9;
   }

   .card3:hover .list-group-item{
     background:#ff95e9 !important;
   }


   .card:hover .btn-outline-dark{
     color:white;
     background:#212529;
   }

   .carousel-inner > .carousel-item img{
     height: 500px;
   }

   

 

  